@import "../../../mixins";
.bookingDetailsContainer {
  width: 100%;

  .heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #383e49;
    padding-bottom: 20px;
  }

  .form {
    .inputContainer {
      @include flex(row, "", center);
      padding-bottom: 20px;

      label {
        width: 12%;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #48505e;
      }

      .input {
        width: 88%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .bookingDetailsContainer {
    .form {
      .inputContainer {
        @include flex(column, start, start);

        label {
          width: 100%;
        }

        .input {
          width: 100%;
        }
      }
    }
  }
}
