@import "../../mixins";

.filtersContainer {
  padding: 20px 60px;
  .imgContainer {
    @include flex(column, center, center);
    color: var(--secondary-text);
    margin-top: 100px;
    background-image: url("../../assets/images/header-cover.png");
    background-size: cover; // Ensures the image covers the entire container
    background-position: center; // Centers the image within the container
    background-repeat: no-repeat; // Prevents the image from repeating
    height: 390px;
    width: 100%;
    border-radius: 4px;

    h2 {
      font-size: 58px;
      font-weight: 700;
      line-height: 50px;
      padding-bottom: 40px;
    }

    .fieldsWrapper {
      @include flex(row, center, center);
      gap: 20px;
      padding-inline: 20px;

      > * {
        margin-bottom: 15px;
        width: 100%;
        max-width: 400px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 10px;

        > * {
          max-width: 100%; // Ensure full width on smaller screens
        }
      }
    }

    .customSelect {
      height: 46px;
      padding: 10px 16px;
      border-radius: 4px;
      border: 0.5px solid var(--grey-100);
      background-color: var(--background);
      font-size: 14px;
      font-weight: 400;
      width: 100%;
      min-width: 400px;
      cursor: pointer;

      // Ensure the dropdown is displayed correctly
      option {
        background-color: var(--background);
        color: var(--primary-text);
        padding: 10px;
        position: relative;
        z-index: 10;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .filtersContainer {
    padding: 20px 0px;
    .imgContainer {
      @include flex(column, center, center);
      margin-top: 40px;

      h2 {
        font-size: 28px;
        font-weight: 600;
      }

      .fieldsWrapper {
        @include flex(column, center, center);
        gap: 20px;
        width: 100%;
      }

      .customSelect {
        height: 46px;
        padding: 10px 16px;
        border-radius: 4px;
        border: 0.5px solid var(--grey-100);
        background-color: var(--background);
        font-size: 14px;
        font-weight: 400;
        width: 100%;
        min-width: 300px;
        cursor: pointer;
  
        // Ensure the dropdown is displayed correctly
        option {
          background-color: var(--background);
          color: var(--primary-text);
          padding: 10px;
          position: relative;
          z-index: 10;
        }
      }
    }
  }
}
