@import "../../mixins";
.custom-button {
  @include flex(row, center, center);
  transition: 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  width: 110px;
  padding: 10px 8px;
  border-radius: 4px;
}

.outline {
  color: var(--blue);
  border: 1.5px solid var(--blue);
  &:hover {
    background-color: var(--blue);
    color: var(--secondary-text);
  }
}

.filled {
  background-color: var(--blue);
  color: var(--secondary-text);
  border: 1.5px solid var(--blue);
  &:hover {
    color: var(--blue);
    background-color: var(--background);
  }
}

.large {
  height: 48px;
  width: 116px;
  font-size: 16px;
}

.medium {
  height: 40px;
  width: 110px;
  font-size: 14px;
}

.small {
  height: 40px;
  font-size: 13px;
}

.extra-width {
  width: 150px;
}

@media screen and (max-width: 767px) {
  .custom-button {
    padding: 5px;
    line-height: 14px;
  }
  .large {
    height: 48px;
    width: 116px;
    font-size: 13px;
  }

  .medium {
    height: 40px;
    width: 110px;
    font-size: 12px;
  }

  .small {
    height: 40px;
    font-size: 9px;
  }

  .extra-width {
    width: 140px;
  }
}
