@import "../../mixins";

.modalBody {
  padding: 20px 30px;
  @include flex(column, center, center);

  .title {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
    padding-bottom: 10px;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #667085;
    padding-bottom: 30px;
  }

  form {
    width: 100%;
    .checks {
      padding-top: 20px;
      padding-bottom: 10px;
      @include flex(row, space-between, center);

      .remember {
        label {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          color: #48505e;
        }
      }

      .forgot {
        a {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          text-align: left;
          color: #003b95;
        }
      }
    }

    .errorMessage {
      color: #ed2034;
      font-size: 14px;
    }

    .buttons {
      @include flex(column, start, center);
      width: 100%;
    }

    .switchWrapper {
      padding-top: 20px;
      @include flex(row, start, center);

      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: #48505e;
      }

      .button {
        padding-left: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: #003b95;
        cursor: pointer;
      }
    }
  }

  .selectContainer {
    label {
      padding: 5px 0;
      font-size: 14px;
      font-weight: 500;
    }

    select {
      width: 100%;
      height: 50px;
      border: 0.5px solid #858d9d;
      border-radius: 5px;
      padding: 0 10px;
    }
  }

  .inputGroup {
    display: flex;

    input {
      width: 50%;
    }
  }
}

@media screen and (max-width: 767px) {
  .modalBody {
    padding: 20px;

    .title {
      font-size: 28px;
    }
  }
}
